* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #FAFAFA ;
    overflow-x: hidden;
}
.navbars {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,121,255,1) 20%, rgba(0,142,255,1) 26%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}


.nav-logos {
    margin-left: 20px;
    font-family: 'Montserrat Alternates', sans-serif;
    margin-top: 10px;
}
.nav-logos h3 {
    font-size: 24px;
    color: aliceblue;
}
.nav-kategori {
    display: flex;
    width: 80px;
    justify-content: space-between;
    align-items: center;
    /* border:1px solid black; */
    color: aliceblue;
    font-family: sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    cursor: pointer;

}
.nav-kategori span {
    font-weight: 700;

}
.nav-kategori img {
    width: 15px;
    height: 15px;
}
.search input[type="text"] {
    width: 550px;
    height: 40px;
    padding: 10px;
    border:1px solid silver;
    border-radius: 5px;
    
}
.search .fa-search {
    position: absolute;
    margin-left:-30px;
    margin-top: 12px;
    opacity: 0.4;
}

.user_course a {
    color:#fff;
}
.user_course a:hover {
    text-decoration:none;
    color:red;
}
.links-nav {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    font-family: sans-serif;
    margin-top: 15px;
    box-sizing: border-box;

}
.links-nav .links-menu { 
    list-style-type: none;
    width: 150px;
     /*border:1px solid black; */
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    align-items: center;
    font-weight: 600;

}
.links-nav .links-menu li a {
    color: aliceblue;
    font-size: 20px;
    text-decoration: none;
}
.links-nav .links-menu li .counter {
    width: 25px;
    height: 25px;
    border:1px solid orange;
    border-radius: 50%;
    position: absolute;
    background-color: orange;
    color:#fff;
    text-align: center;
    margin-top:-35px;
    margin-left:20px;
}
.links-nav .links-user {
    width: 100px;
    /* border:1px solid black; */
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    margin-left: 30px;
    font-size: 14px;
    margin-top:-10px;
    cursor: pointer;

}

.links-nav .links-user .users {
    width: 50px;
    height: 50px;
    border:1px solid #302F2F;
    background-color: #302F2F;
    border-radius: 50%;
    color:#fff;
    text-align: center;    
    line-height: 50px;
    font-weight: bold;
}
.action-user {
    display: none;
    position: absolute;
    width: 220px;
    height: 125px;
    border:1px solid white;
    background-color: white;
    margin-left:-100px;
    margin-top:50px;
    padding: 20px;
}

.action-user ul {
    list-style:none;

}
.action-user ul li {
    margin-top:5px;
    cursor: pointer;
    font-size: 13px;

}

.menu-panel {
    display: none;
    margin-top: -20px;
    position: absolute;
    width: 250px;
    height: 180px;
    border:1px solid #FAFAFA;
    background-color: #FAFAFA;
    box-shadow: 0 2px 3px rgba(0,0,0,.25);
    margin-left: 190px;
    border-radius: 3px;
    z-index: 999;
}


.menu-panel ul {
    list-style-type: none;
    padding: 20px;
    line-height: 25px;
}
.menu-panel ul li a {
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-size: 13px;
}
.menu-panel .fas {
    font-size: 14px;
}
.menu-panel ul li:hover {
    width: 225px;
    background-color: #bbbbbb;
   
}

.hamburger, .hamburger-menus {
    display: none;
}
.nav-bottom {
    display: none;
}

.link-header {
    width: 100%;
    height: 60px;
    border:1px solid silver;
    padding: 15px 20px 15px 40px;
}
.link-header .link-href {
    width: 65%;
    /*border:1px solid black;*/
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.link-header .link-href li a {
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;

}
.title-header-background {
    background-image: url(background.jpg);
    width:100%;
    height: 150px;
    padding:50px;
    background-size: cover;
}
.title-header-background h2 {
    font-size:30px;
    font-weight: bold;
    color:#fff;
}
.content-course-new {
    width: 100%;
    /*border:1px solid black;*/
    margin-top:30px;
    padding:50px;
}


.content-course-new h3 {
    font-size:22px;
    font-weight: bold;
}

.content-course-new .card-course {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /*border:1px solid black;*/
    padding-top: 20px;
    padding-bottom: 20px;
}

.content-course-new .card-course .card-menu {
    width: 280px;
    height: 400px;
    border:1px solid silver;

}
.content-course-new .card-course .card-menu img {
    width: 280px;
    height: 180px;
}
.content-course-new .card-course .card-menu .detailcard {
    padding:15px;
}
.content-course-new .card-course .card-menu .detailcard .titlecard h3 {
    font-size:18px;
    color:#333131;
    font-weight: bold;
    text-align: center;
}
.content-course-new .card-course .card-menu .detailcard .ratecourse {
    display: flex;
    justify-content: space-between;
    width: 200px;
    /*border:1px solid black;*/
    margin-top:20px;
}
.content-course-new .card-course .card-menu .detailcard .ratecourse .star i {
    color: gold;
}
.content-course-new .card-course .card-menu .detailcard .ratecourse .value {
    font-weight: bold;
}
.content-course-new .card-course .card-menu .detailcard .price-course {
        margin-top: 20px;

}
.choose-course {
    width: 100%;
    /*border:1px solid black;*/
    /*height: 500px;*/
    background-color: #fafafa;
    padding:50px;
        
}

.choose-course h3 {
    font-size:22px;
    font-weight:bold;
    /*margin-left:50px;*/
}

.choose-course .card-choose{
    width: 100%;
    height: 380px;
    border:1px solid silver;
    display: flex;
    justify-content: space-between;
    padding: 15px 15px 15px 15px; 
    margin-top:20px;
}

.choose-course .card-choose .img-choose {
    width: 500px;
    height: 350px;
    border:1px solid silver;
}

.choose-course .card-choose .img-choose img {
    width: 500px;
    height: 350px;
}

 .detail-choose {
    /*margin-left:20px;*/
    border:1px solid silver;
    padding:20px;
 }

  .detail-choose .title-choose h3 {
    font-size:18px;
    font-weight:bold;
  }

  .detail-choose .modified small{
    color:#363232;
  }

.detail-choose .rating-choose .display {
    display: flex;
    justify-content: space-around;
    border:1px solid #DBD4D4;
    align-items: center;
}

.detail-choose .rating-choose .display .status {
    width: 120px;
    height: 40px;
    border:1px solid #E95825;
    color:#fff;
    background-color: #E95825;
    text-align: center;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    line-height: 35px;
    font-weight:bold;
}

.detail-choose .rating-choose .display .keterangan ul li {
    font-size:13px;
}

.detail-choose .rating-choose .display .rates .star i {
    color:gold;
    font-size:15px;
}
.detail-choose .rating-choose .display .rates .value {
    font-size:14px;
    font-weight: bold;
}
.detail-choose .rating-choose .display .rates .scor-rate {
    font-size:13px;
}

.detail-choose .rating-choose .btn-jelajah {
    width: 200px;
    height: 40px;
    border:1px solid #2456F8;
    background-color: #2456F8;
    line-height: 40px;
    text-align: center;
    margin-top:20px;
    border-radius: 3px;
}
.detail-choose .rating-choose .btn-jelajah a {
    color:#fff;
    font-weight:bold;
    text-transform:uppercase;
}
.detail-choose .harga-kursus {
    font-size:20px;
    font-weight:bold;
    float: right;
    color: #757070;
}
.recomended {
    width: 100%;
    padding:50px;
}

.recomended h3 {
    font-size:22px;
    font-weight:bold;
}

.recomended .recomended-course {
    display: flex;
    justify-content: space-between;
    /*border:1px solid black; */

}

.recomended .recomended-course .recomended-card {
    width: 280px;
    height: 400px;
    border:1px solid silver;

}
.recomended .recomended-course .recomended-card img {
    width: 280px;
    height: 180px;
}
.recomended .recomended-course .recomended-card .detail-recomended {
    padding:15px;
}
.recomended .recomended-course .recomended-card .detail-recomended .recomended-title h3{
    font-size:17px;
    color:#605C5C;
    text-align: center;
}
.recomended .recomended-course .recomended-card .detail-recomended .rating-star {
    display: flex;
    justify-content: space-between;
    width: 200px;
    /*border:1px solid black;*/
}
.recomended .recomended-course .recomended-card .detail-recomended .rating-star .star i {
    font-size:16px;
    color: gold;
}
.recomended .recomended-course .recomended-card .detail-recomended .rating-star .value {
    font-weight:bold;
}
.recomended .recomended-course .recomended-card .detail-recomended .price-recomended {
    margin-top:15px;
}
.footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 300px;
    /*border:1px solid black;*/
    background: #535353;
    padding:40px;
}
.footer .kotak1, .kotak2, .kotak3, .kotak4 {
    /*border:1px solid white;*/
    width: 300px;
    padding:30px;
}
.footer .kotak1 ul,.kotak2 ul,.kotak3 ul,.kotak4 ul {
    list-style: none;
}
.footer .kotak1 ul li,.kotak2 ul li,.kotak3 ul li,.kotak4 ul li {
    color: #fff;
    font-size: 13px;
}
.footer .kotak1 h3,.kotak2 h3,.kotak3 h3,.kotak4 h3 {
    font-size: 22px;
    color:#fafafa;
}
.copyright {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom :5px solid blue;
    height: 70px;
}

.copyright .logo h4 {
    font-size:14px;
    font-weight:bold;
}
.copyright .hak h4 {
    font-size: 12px;
    font-weight:bold;

}
.copyright .year h4 {
    font-size:14px;
    font-weight:bold;
}
@media (max-width: 768px) {
    .navbar {  
        align-items: center;
        padding: 10px;
        width: 100%;
    }
    
    .nav-logos {
        margin-left: 16px;
    }
    .nav-logos h3 {
        font-size: 10px;
    }
    .nav-kategori {
        margin-left: 20px;
    
    }
    .nav-kategori span {
        font-weight: 600;
    
    }
    .nav-kategori img {
        width: 15px;
        height: 15px;
    
    }
    .search {
        position: relative;
    }
    .search input[type="text"] {
        width: 350px;
        margin-left: 20px;
        
    }
    /* .search input[type="text"]:focus {
        width: 350px;
        transition: 1s ease-in-out;
        margin-left: 50px;
    } */
    
    .user_course {
        display: none;
    }
    .links-nav {
        display: flex;
        justify-content: space-between;
        margin-right: 20px;
        font-family: sans-serif;
    }
    .links-nav .links-menu { 
        display: none;
        
    }
       
    .links-nav .links-join {
        width: 150px;
    }
    
    /* .links-nav .links-join .log-btn:hover {
        background-color: aliceblue;
        color: black;
    } */
   
   
    .menu-panel {
        display: none;
        margin-top: -10px;
        margin-left: 105px;
        /* border-radius: 5px; */
    }
    
    .menu-panel ul {
        padding: 10px;
        line-height: 30px;
    }
 
    .menu-panel ul li:hover {
        width: 225px;
        padding-left: 10px;
    }

    .link-header {
    width: 100%;
    height: 60px;
    border:1px solid silver;
    padding: 15px 20px 15px 40px;
}
.link-header .link-href {
    width: 65%;
    /*border:1px solid black;*/
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.link-header .link-href li a {
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;

}
.title-header-background {
    background-image: url(background.jpg);
    width:100%;
    height: 150px;
    padding:50px;
    background-size: cover;
}
.title-header-background h2 {
    font-size:30px;
    font-weight: bold;
    color:#fff;
}
.content-course-new {
    width: 100%;
    /*border:1px solid black;*/
    margin-top:30px;
    padding:50px;
}


.content-course-new h3 {
    font-size:22px;
    font-weight: bold;
}

.content-course-new .card-course {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /*border:1px solid black;*/
    padding-top: 20px;
    padding-bottom: 20px;
}

.content-course-new .card-course .card-menu {
    width: 280px;
    height: 400px;
    border:1px solid silver;

}
.content-course-new .card-course .card-menu img {
    width: 280px;
    height: 180px;
}
.content-course-new .card-course .card-menu .detailcard {
    padding:15px;
}
.content-course-new .card-course .card-menu .detailcard .titlecard h3 {
    font-size:18px;
    color:#333131;
    font-weight: bold;
    text-align: center;
}
.content-course-new .card-course .card-menu .detailcard .ratecourse {
    display: flex;
    justify-content: space-between;
    width: 200px;
    /*border:1px solid black;*/
    margin-top:20px;
}
.content-course-new .card-course .card-menu .detailcard .ratecourse .star i {
    color: gold;
}
.content-course-new .card-course .card-menu .detailcard .ratecourse .value {
    font-weight: bold;
}
.content-course-new .card-course .card-menu .detailcard .price-course {
        margin-top: 20px;

}
.choose-course {
    width: 100%;
    /*border:1px solid black;*/
    /*height: 500px;*/
    background-color: #fafafa;
    padding:50px;
        
}

.choose-course h3 {
    font-size:22px;
    font-weight:bold;
    /*margin-left:50px;*/
}

.choose-course .card-choose{
    width: 100%;
    height: 380px;
    border:1px solid silver;
    display: flex;
    justify-content: space-between;
    padding: 15px 15px 15px 15px; 
    margin-top:20px;
}

.choose-course .card-choose .img-choose {
    width: 500px;
    height: 350px;
    border:1px solid silver;
}

.choose-course .card-choose .img-choose img {
    width: 500px;
    height: 350px;
}

 .detail-choose {
    /*margin-left:20px;*/
    border:1px solid silver;
    padding:20px;
 }

  .detail-choose .title-choose h3 {
    font-size:18px;
    font-weight:bold;
  }

  .detail-choose .modified small{
    color:#363232;
  }

.detail-choose .rating-choose .display {
    display: flex;
    justify-content: space-around;
    border:1px solid #DBD4D4;
    align-items: center;
}

.detail-choose .rating-choose .display .status {
    width: 120px;
    height: 40px;
    border:1px solid #E95825;
    color:#fff;
    background-color: #E95825;
    text-align: center;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    line-height: 35px;
    font-weight:bold;
}

.detail-choose .rating-choose .display .keterangan ul li {
    font-size:13px;
}

.detail-choose .rating-choose .display .rates .star i {
    color:gold;
    font-size:15px;
}
.detail-choose .rating-choose .display .rates .value {
    font-size:14px;
    font-weight: bold;
}
.detail-choose .rating-choose .display .rates .scor-rate {
    font-size:13px;
}

.detail-choose .rating-choose .btn-jelajah {
    width: 200px;
    height: 40px;
    border:1px solid #2456F8;
    background-color: #2456F8;
    line-height: 40px;
    text-align: center;
    margin-top:20px;
    border-radius: 3px;
}
.detail-choose .rating-choose .btn-jelajah a {
    color:#fff;
    font-weight:bold;
    text-transform:uppercase;
}
.detail-choose .harga-kursus {
    font-size:20px;
    font-weight:bold;
    float: right;
    color: #757070;
}
.recomended {
    width: 100%;
    padding:50px;
}

.recomended h3 {
    font-size:22px;
    font-weight:bold;
}

.recomended .recomended-course {
    display: flex;
    justify-content: space-between;
    /*border:1px solid black; */

}

.recomended .recomended-course .recomended-card {
    width: 280px;
    height: 400px;
    border:1px solid silver;

}
.recomended .recomended-course .recomended-card img {
    width: 280px;
    height: 180px;
}
.recomended .recomended-course .recomended-card .detail-recomended {
    padding:15px;
}
.recomended .recomended-course .recomended-card .detail-recomended .recomended-title h3{
    font-size:17px;
    color:#605C5C;
    text-align: center;
}
.recomended .recomended-course .recomended-card .detail-recomended .rating-star {
    display: flex;
    justify-content: space-between;
    width: 200px;
    /*border:1px solid black;*/
}
.recomended .recomended-course .recomended-card .detail-recomended .rating-star .star i {
    font-size:16px;
    color: gold;
}
.recomended .recomended-course .recomended-card .detail-recomended .rating-star .value {
    font-weight:bold;
}
.recomended .recomended-course .recomended-card .detail-recomended .price-recomended {
    margin-top:15px;
}
.footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 300px;
    /*border:1px solid black;*/
    background: #535353;
    padding:40px;
}
.footer .kotak1, .kotak2, .kotak3, .kotak4 {
    /*border:1px solid white;*/
    width: 300px;
    padding:30px;
}
.footer .kotak1 ul,.kotak2 ul,.kotak3 ul,.kotak4 ul {
    list-style: none;
}
.footer .kotak1 ul li,.kotak2 ul li,.kotak3 ul li,.kotak4 ul li {
    color: #fff;
    font-size: 13px;
}
.footer .kotak1 h3,.kotak2 h3,.kotak3 h3,.kotak4 h3 {
    font-size: 22px;
    color:#fafafa;
}
.copyright {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom :5px solid blue;
    height: 70px;
}

.copyright .logo h4 {
    font-size:14px;
    font-weight:bold;
}
.copyright .hak h4 {
    font-size: 12px;
    font-weight:bold;

}
.copyright .year h4 {
    font-size:14px;
    font-weight:bold;
}









    @media only screen and (max-width:586px) {
    .navbar {
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,121,255,1) 20%, rgba(0,142,255,1) 26%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        width: 100%;
       
    }
    .hamburger {
        margin-left: 10px;
        display: flex;
        
    }
    .hamburger img {
        width: 20px;
        height: 20px;
    }
    
    
    .nav-logos {
        margin-left: 10px;
    }
    .nav-logos h3 {
        font-size: 18px;
    }
    .nav-kategori {
        display: none;
    
    }

    .search input[type="text"] {
        width: 350px;
        margin-right: 10px;
        
    }
    .search .fa-search {
        margin-left:-40px;
    }
    .links-nav {
        display: none;
         
    }

    .links-nav .links-user {
        display: none;
    }

    .hamburger-menus {
        display: none;
    }

    .nav-bottom {
        display: flex;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 55px;
        box-shadow: 0 0 3px rgba(0,0,0,.2);
        /* overflow-x: auto; */
        box-sizing: border-box;
        z-index: 99;
        /* border:1px solid black; */
    }

    .nav-bottom .link_nav {
        /* border:1px solid black; */
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
        min-width: 50px;
        overflow: hidden;
        font-family: sans-serif;
        font-size: 13px;
        color: #444;
        text-decoration: none;
        -webkit-tap-highlight-color: transparent;
        transition: background-color 0.1s ease-in-out;
        white-space: nowrap;
        height: 55px;
    }

    .nav-bottom .link_nav:hover {
        background-color: #eee;
        
    }
    
    .nav-bottom .link_nav_actived {
        color: tomato;
    }
    .nav-bottom .link_nav .fas {
        font-size: 20px;
        margin-top: 10px;
        position: absolute;
    }
    .nav-bottom .link_nav .nav_text {
        color: #000;
        font-size: 10px;
        margin-top: 33px;
        text-transform: uppercase;
    }

    .hamburger-menus {
        width: 250px;
        height: 100%;
        padding: 20px;
        background-color: #FAFAFA;
        box-shadow: 0 2px 3px rgba(0,0,0,.25);
    }
    .hamburger-menus .menu1 ul {
        list-style-type: none;
        margin-bottom: 15px;
    }
    .hamburger-menus .menu1 ul li:nth-child(1) {
        width: 190px;
        height: 30px;
        border:1px solid silver;
        line-height: 30px;
        text-align: center;
        margin-left: 15px;
        border-radius: 3px;

    }
    .hamburger-menus .menu1 ul li:nth-child(2) {
        width: 190px;
        height: 30px;
        border:1px solid silver;
        margin-top: 10px;
        line-height: 30px;
        text-align: center;
        margin-left: 15px;
        border-radius: 3px;

    }
    .hamburger-menus .menu1 ul li:nth-child(1):hover {
        background-color: silver;
    }
    .hamburger-menus .menu1 ul li:nth-child(2):hover {
        background-color: silver;
    }
    .hamburger-menus .menu1 ul li a{
        text-decoration: none;
        color: black;
        font-size: 12px;
        
        margin-top: 15px;
        font-family: sans-serif;
        text-transform: uppercase;
    }
    .hamburger-menus .menu2 ul,.menu3 ul,.menu4 ul {
        margin-left: 15px;
        line-height: 30px;
        list-style-type: none;
        margin-bottom: 15px;

    }
    .hamburger-menus .menu2 ul li:hover, .menu3 ul li:hover, .menu4 ul li:hover {
        background-color: rgb(226, 224, 219);
    }
    .hamburger-menus .menu2 ul li a,.menu3 ul li a,.menu4 ul li a {
        text-decoration: none;
        color: black;
        font-family: sans-serif;
        font-size: 13px;
    } 
.link-header {
    width: 100%;
    height: 60px;
    border:1px solid silver;
    padding: 15px 20px 15px 40px;
}
.link-header .link-href {
    width: 65%;
    /*border:1px solid black;*/
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.link-header .link-href li a {
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;

}
.title-header-background {
    background-image: url(background.jpg);
    width:100%;
    height: 150px;
    padding:50px;
    background-size: cover;
}
.title-header-background h2 {
    font-size:30px;
    font-weight: bold;
    color:#fff;
}
.content-course-new {
    width: 100%;
    /*border:1px solid black;*/
    margin-top:30px;
    padding:50px;
}


.content-course-new h3 {
    font-size:22px;
    font-weight: bold;
}

.content-course-new .card-course {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /*border:1px solid black;*/
    padding-top: 20px;
    padding-bottom: 20px;
}

.content-course-new .card-course .card-menu {
    width: 280px;
    height: 400px;
    border:1px solid silver;

}
.content-course-new .card-course .card-menu img {
    width: 280px;
    height: 180px;
}
.content-course-new .card-course .card-menu .detailcard {
    padding:15px;
}
.content-course-new .card-course .card-menu .detailcard .titlecard h3 {
    font-size:18px;
    color:#333131;
    font-weight: bold;
    text-align: center;
}
.content-course-new .card-course .card-menu .detailcard .ratecourse {
    display: flex;
    justify-content: space-between;
    width: 200px;
    /*border:1px solid black;*/
    margin-top:20px;
}
.content-course-new .card-course .card-menu .detailcard .ratecourse .star i {
    color: gold;
}
.content-course-new .card-course .card-menu .detailcard .ratecourse .value {
    font-weight: bold;
}
.content-course-new .card-course .card-menu .detailcard .price-course {
        margin-top: 20px;

}
.choose-course {
    width: 100%;
    /*border:1px solid black;*/
    /*height: 500px;*/
    background-color: #fafafa;
    padding:50px;
        
}

.choose-course h3 {
    font-size:22px;
    font-weight:bold;
    /*margin-left:50px;*/
}

.choose-course .card-choose{
    width: 100%;
    height: 380px;
    border:1px solid silver;
    display: flex;
    justify-content: space-between;
    padding: 15px 15px 15px 15px; 
    margin-top:20px;
}

.choose-course .card-choose .img-choose {
    width: 500px;
    height: 350px;
    border:1px solid silver;
}

.choose-course .card-choose .img-choose img {
    width: 500px;
    height: 350px;
}

 .detail-choose {
    /*margin-left:20px;*/
    border:1px solid silver;
    padding:20px;
 }

  .detail-choose .title-choose h3 {
    font-size:18px;
    font-weight:bold;
  }

  .detail-choose .modified small{
    color:#363232;
  }

.detail-choose .rating-choose .display {
    display: flex;
    justify-content: space-around;
    border:1px solid #DBD4D4;
    align-items: center;
}

.detail-choose .rating-choose .display .status {
    width: 120px;
    height: 40px;
    border:1px solid #E95825;
    color:#fff;
    background-color: #E95825;
    text-align: center;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    line-height: 35px;
    font-weight:bold;
}

.detail-choose .rating-choose .display .keterangan ul li {
    font-size:13px;
}

.detail-choose .rating-choose .display .rates .star i {
    color:gold;
    font-size:15px;
}
.detail-choose .rating-choose .display .rates .value {
    font-size:14px;
    font-weight: bold;
}
.detail-choose .rating-choose .display .rates .scor-rate {
    font-size:13px;
}

.detail-choose .rating-choose .btn-jelajah {
    width: 200px;
    height: 40px;
    border:1px solid #2456F8;
    background-color: #2456F8;
    line-height: 40px;
    text-align: center;
    margin-top:20px;
    border-radius: 3px;
}
.detail-choose .rating-choose .btn-jelajah a {
    color:#fff;
    font-weight:bold;
    text-transform:uppercase;
}
.detail-choose .harga-kursus {
    font-size:20px;
    font-weight:bold;
    float: right;
    color: #757070;
}
.recomended {
    width: 100%;
    padding:50px;
}

.recomended h3 {
    font-size:22px;
    font-weight:bold;
}

.recomended .recomended-course {
    display: flex;
    justify-content: space-between;
    /*border:1px solid black; */

}

.recomended .recomended-course .recomended-card {
    width: 280px;
    height: 400px;
    border:1px solid silver;

}
.recomended .recomended-course .recomended-card img {
    width: 280px;
    height: 180px;
}
.recomended .recomended-course .recomended-card .detail-recomended {
    padding:15px;
}
.recomended .recomended-course .recomended-card .detail-recomended .recomended-title h3{
    font-size:17px;
    color:#605C5C;
    text-align: center;
}
.recomended .recomended-course .recomended-card .detail-recomended .rating-star {
    display: flex;
    justify-content: space-between;
    width: 200px;
    /*border:1px solid black;*/
}
.recomended .recomended-course .recomended-card .detail-recomended .rating-star .star i {
    font-size:16px;
    color: gold;
}
.recomended .recomended-course .recomended-card .detail-recomended .rating-star .value {
    font-weight:bold;
}
.recomended .recomended-course .recomended-card .detail-recomended .price-recomended {
    margin-top:15px;
}
.footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 300px;
    /*border:1px solid black;*/
    background: #535353;
    padding:40px;
}
.footer .kotak1, .kotak2, .kotak3, .kotak4 {
    /*border:1px solid white;*/
    width: 300px;
    padding:30px;
}
.footer .kotak1 ul,.kotak2 ul,.kotak3 ul,.kotak4 ul {
    list-style: none;
}
.footer .kotak1 ul li,.kotak2 ul li,.kotak3 ul li,.kotak4 ul li {
    color: #fff;
    font-size: 13px;
}
.footer .kotak1 h3,.kotak2 h3,.kotak3 h3,.kotak4 h3 {
    font-size: 22px;
    color:#fafafa;
}
.copyright {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom :5px solid blue;
    height: 70px;
}

.copyright .logo h4 {
    font-size:14px;
    font-weight:bold;
}
.copyright .hak h4 {
    font-size: 12px;
    font-weight:bold;

}
.copyright .year h4 {
    font-size:14px;
    font-weight:bold;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    height: 350px;
    /*border:1px solid black;*/
    padding:20px 10px 30px 10px;
}
.footer .kotak1, .kotak2, .kotak3, .kotak4 {
    /*border:1px solid white;*/
    width: 250px;
    height: 150px;
    padding:10px;
}

.footer .kotak1 ul li,.kotak2 ul li,.kotak3 ul li,.kotak4 ul li {
    color: #fff;
    font-size: 13px;
}
.footer .kotak1 h3,.kotak2 h3,.kotak3 h3,.kotak4 h3 {
    font-size: 20px;
    color:#fafafa;
}
.copyright {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom :5px solid blue;
    height: 50px;
    margin-bottom:60px;
}
.copyright .hak h4, .logo h4, .year h4 {
    font-size: 12px;
}

}


@media (max-width:375px) {
    .navbars {
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,121,255,1) 20%, rgba(0,142,255,1) 26%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        width: 100%;
        height: 120px;
        border: 1px solid black;
       
    }
    .hamburger {
        margin-left: 10px;
        display: flex;
        margin-top:35px;
        
    }
    .hamburger img {
        width: 20px;
        height: 20px;
    }
    
    
    .nav-logos {
        position: relative;
        margin-left:0;
    }
    .nav-logos h3 {
        font-size: 18px;
        position: absolute;
        margin-top:-45px;
        margin-left:-25px;
    }
    .nav-kategori {
        display: none;
    
    }
    
    .search {
        margin-top:35px;
    }
    .search input[type="text"] {
        width: 260px;
        margin-right: 0;

        
    }
    .search .fa-search {
        margin-left:-40px;
    }
    .links-nav {
        display: none;
         
    }

    .links-nav .links-user {
        display: none;
    }

    .hamburger-menus {
        display: none;
    }

    .nav-bottom {
        display: flex;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 55px;
        background-color:#fff;
        box-shadow: 0 0 3px rgba(0,0,0,.2);
        /* overflow-x: auto; */
        box-sizing: border-box;
        z-index: 99;
        /* border:1px solid black; */
    }

    .nav-bottom .link_nav {
        /* border:1px solid black; */
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
        min-width: 50px;
        overflow: hidden;
        font-family: sans-serif;
        font-size: 13px;
        color: #444;
        text-decoration: none;
        -webkit-tap-highlight-color: transparent;
        transition: background-color 0.1s ease-in-out;
        white-space: nowrap;
        height: 55px;
    }

    .nav-bottom .link_nav:hover {
        background-color: #eee;
        
    }
    
    .nav-bottom .link_nav_actived {
        color: tomato;
    }
    .nav-bottom .link_nav .fas {
        font-size: 20px;
        margin-top: 10px;
        position: absolute;
    }
    .nav-bottom .link_nav .nav_text {
        color: #000;
        font-size: 10px;
        margin-top: 33px;
        text-transform: uppercase;
    }

    .hamburger-menus {
        width: 250px;
        height: 100%;
        padding: 20px;
        background-color: #FAFAFA;
        box-shadow: 0 2px 3px rgba(0,0,0,.25);
    }
    .hamburger-menus .menu1 ul {
        list-style-type: none;
        margin-bottom: 15px;
    }
    .hamburger-menus .menu1 ul li:nth-child(1) {
        width: 190px;
        height: 30px;
        border:1px solid silver;
        line-height: 30px;
        text-align: center;
        margin-left: 15px;
        border-radius: 3px;

    }
    .hamburger-menus .menu1 ul li:nth-child(2) {
        width: 190px;
        height: 30px;
        border:1px solid silver;
        margin-top: 10px;
        line-height: 30px;
        text-align: center;
        margin-left: 15px;
        border-radius: 3px;

    }
    .hamburger-menus .menu1 ul li:nth-child(1):hover {
        background-color: silver;
    }
    .hamburger-menus .menu1 ul li:nth-child(2):hover {
        background-color: silver;
    }
    .hamburger-menus .menu1 ul li a{
        text-decoration: none;
        color: black;
        font-size: 12px;
        
        margin-top: 15px;
        font-family: sans-serif;
        text-transform: uppercase;
    }
    .hamburger-menus .menu2 ul,.menu3 ul,.menu4 ul {
        margin-left: 15px;
        line-height: 30px;
        list-style-type: none;
        margin-bottom: 15px;

    }
    .hamburger-menus .menu2 ul li:hover, .menu3 ul li:hover, .menu4 ul li:hover {
        background-color: rgb(226, 224, 219);
    }
    .hamburger-menus .menu2 ul li a,.menu3 ul li a,.menu4 ul li a {
        text-decoration: none;
        color: black;
        font-family: sans-serif;
        font-size: 13px;
    } 

    .link-header {
    width: 100%;
    height: 60px;
    border:1px solid silver;
    padding: 15px 20px 15px 40px;
}
.link-header .link-href {
    width: 65%;
    /*border:1px solid black;*/
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.link-header .link-href li a {
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;

}
.title-header-background {
    background-image: url(background.jpg);
    width:100%;
    height: 150px;
    padding:50px;
    background-size: cover;
}
.title-header-background h2 {
    font-size:30px;
    font-weight: bold;
    color:#fff;
}
.content-course-new {
    width: 100%;
    /*border:1px solid black;*/
    margin-top:30px;
    padding:50px;
}


.content-course-new h3 {
    font-size:22px;
    font-weight: bold;
}

.content-course-new .card-course {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /*border:1px solid black;*/
    padding-top: 20px;
    padding-bottom: 20px;
}

.content-course-new .card-course .card-menu {
    width: 280px;
    height: 400px;
    border:1px solid silver;

}
.content-course-new .card-course .card-menu img {
    width: 280px;
    height: 180px;
}
.content-course-new .card-course .card-menu .detailcard {
    padding:15px;
}
.content-course-new .card-course .card-menu .detailcard .titlecard h3 {
    font-size:18px;
    color:#333131;
    font-weight: bold;
    text-align: center;
}
.content-course-new .card-course .card-menu .detailcard .ratecourse {
    display: flex;
    justify-content: space-between;
    width: 200px;
    /*border:1px solid black;*/
    margin-top:20px;
}
.content-course-new .card-course .card-menu .detailcard .ratecourse .star i {
    color: gold;
}
.content-course-new .card-course .card-menu .detailcard .ratecourse .value {
    font-weight: bold;
}
.content-course-new .card-course .card-menu .detailcard .price-course {
        margin-top: 20px;

}
.choose-course {
    width: 100%;
    /*border:1px solid black;*/
    /*height: 500px;*/
    background-color: #fafafa;
    padding:50px;
        
}

.choose-course h3 {
    font-size:22px;
    font-weight:bold;
    /*margin-left:50px;*/
}

.choose-course .card-choose{
    width: 100%;
    height: 380px;
    border:1px solid silver;
    display: flex;
    justify-content: space-between;
    padding: 15px 15px 15px 15px; 
    margin-top:20px;
}

.choose-course .card-choose .img-choose {
    width: 500px;
    height: 350px;
    border:1px solid silver;
}

.choose-course .card-choose .img-choose img {
    width: 500px;
    height: 350px;
}

 .detail-choose {
    /*margin-left:20px;*/
    border:1px solid silver;
    padding:20px;
 }

  .detail-choose .title-choose h3 {
    font-size:18px;
    font-weight:bold;
  }

  .detail-choose .modified small{
    color:#363232;
  }

.detail-choose .rating-choose .display {
    display: flex;
    justify-content: space-around;
    border:1px solid #DBD4D4;
    align-items: center;
}

.detail-choose .rating-choose .display .status {
    width: 120px;
    height: 40px;
    border:1px solid #E95825;
    color:#fff;
    background-color: #E95825;
    text-align: center;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    line-height: 35px;
    font-weight:bold;
}

.detail-choose .rating-choose .display .keterangan ul li {
    font-size:13px;
}

.detail-choose .rating-choose .display .rates .star i {
    color:gold;
    font-size:15px;
}
.detail-choose .rating-choose .display .rates .value {
    font-size:14px;
    font-weight: bold;
}
.detail-choose .rating-choose .display .rates .scor-rate {
    font-size:13px;
}

.detail-choose .rating-choose .btn-jelajah {
    width: 200px;
    height: 40px;
    border:1px solid #2456F8;
    background-color: #2456F8;
    line-height: 40px;
    text-align: center;
    margin-top:20px;
    border-radius: 3px;
}
.detail-choose .rating-choose .btn-jelajah a {
    color:#fff;
    font-weight:bold;
    text-transform:uppercase;
}
.detail-choose .harga-kursus {
    font-size:20px;
    font-weight:bold;
    float: right;
    color: #757070;
}
.recomended {
    width: 100%;
    padding:50px;
}

.recomended h3 {
    font-size:22px;
    font-weight:bold;
}

.recomended .recomended-course {
    display: flex;
    justify-content: space-between;
    /*border:1px solid black; */

}

.recomended .recomended-course .recomended-card {
    width: 280px;
    height: 400px;
    border:1px solid silver;

}
.recomended .recomended-course .recomended-card img {
    width: 280px;
    height: 180px;
}
.recomended .recomended-course .recomended-card .detail-recomended {
    padding:15px;
}
.recomended .recomended-course .recomended-card .detail-recomended .recomended-title h3{
    font-size:17px;
    color:#605C5C;
    text-align: center;
}
.recomended .recomended-course .recomended-card .detail-recomended .rating-star {
    display: flex;
    justify-content: space-between;
    width: 200px;
    /*border:1px solid black;*/
}
.recomended .recomended-course .recomended-card .detail-recomended .rating-star .star i {
    font-size:16px;
    color: gold;
}
.recomended .recomended-course .recomended-card .detail-recomended .rating-star .value {
    font-weight:bold;
}
.recomended .recomended-course .recomended-card .detail-recomended .price-recomended {
    margin-top:15px;
}
.footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 300px;
    /*border:1px solid black;*/
    background: #535353;
    padding:40px;
}
.footer .kotak1, .kotak2, .kotak3, .kotak4 {
    /*border:1px solid white;*/
    width: 300px;
    padding:30px;
}
.footer .kotak1 ul,.kotak2 ul,.kotak3 ul,.kotak4 ul {
    list-style: none;
}
.footer .kotak1 ul li,.kotak2 ul li,.kotak3 ul li,.kotak4 ul li {
    color: #fff;
    font-size: 13px;
}
.footer .kotak1 h3,.kotak2 h3,.kotak3 h3,.kotak4 h3 {
    font-size: 22px;
    color:#fafafa;
}
.copyright {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom :5px solid blue;
    height: 70px;
}

.copyright .logo h4 {
    font-size:14px;
    font-weight:bold;
}
.copyright .hak h4 {
    font-size: 12px;
    font-weight:bold;

}
.copyright .year h4 {
    font-size:14px;
    font-weight:bold;
}







.footer {
    display: flex;
    flex-wrap: wrap;
    height: 350px;
    /*border:1px solid black;*/
    padding:20px 10px 30px 10px;
}
.footer .kotak1, .kotak2, .kotak3, .kotak4 {
    /*border:1px solid white;*/
    width: 250px;
    height: 150px;
    padding:10px;
}

.footer .kotak1 ul li,.kotak2 ul li,.kotak3 ul li,.kotak4 ul li {
    color: #fff;
    font-size: 13px;
}
.footer .kotak1 h3,.kotak2 h3,.kotak3 h3,.kotak4 h3 {
    font-size: 20px;
    color:#fafafa;
}
.copyright {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom :5px solid blue;
    height: 50px;
    margin-bottom:60px;
}
.copyright .hak h4, .logo h4, .year h4 {
    font-size: 12px;
}
}