* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #fafafa;
	overflow-x: hidden;
}

.head-navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 70px;
	/*border:1px solid black;*/
	/*padding-left: 50px;*/
	padding-right: 50px;
	box-shadow: 0 2px 3px rgba(0,0,0,.15);
	/*position: absolute;*/
}
.head-navbar .name-logo {
	width: 250px;
	height: 70px;
	border:2px solid rgba(0,0,255,0.7);
	display: flex;
	align-items: center;
	background-color: rgba(0,0,255,0.7);
	text-align: center;
}
.head-navbar .name-logo h3 {
	/*font-family: 'Acme', sans-serif;*/
	/*font-family: 'Righteous', cursive;*/
	font-family: 'Russo One', sans-serif;
	font-size: 30px;
	margin-top: 5px;
	color: #fff;
	text-shadow: 1px 2px 3px rgba(0,0,0,.45);
	/*position:absolute;*/
	margin-left: 50px;
}

.head-navbar .user {
	width: 50px;
	height: 50px;
	border:1px solid #1E1D1D;
	background-color: #1E1D1D;
	border-radius: 50%;
	/*line-height: 60px;*/
	text-align: center;
	cursor: pointer;
}
.head-navbar .user h4 {
	color: #fff;
	line-height: 45px;
}
.head-navbar .logout {
	/*border:1px solid #262BF3;*/
	width: 70px;
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 10px;
	padding-right: 5px;
	padding-left:5px;
	/*background-color: #262BF3;*/

}

.head-navbar .logout span, i {
	color: #000;
	cursor: pointer;
}

.head-navbar .logout span:hover {
	color:blue;
}
.keluar {
	position: absolute;
	/*float: right;*/
	display: none;
	width: 250px;
	/*height: 35px;*/
	/*padding:15px;*/
	border:1px solid #fff;
	/*justify-content: space-evenly;*/
	align-items: center;
	background-color: #fff;
	box-shadow: 0 3px 4px rgba(0,0,0,.25);
	border-radius: 5px;
	/*padding-left: 30px;*/
	cursor: pointer;
	margin-left: 1050px;

}
.keluar ul {
	list-style-type: none;
	/*display: flex;*/
	/*align-items: center;*/
}
.keluar ul li {
	width: 250px;
	height: 40px;
	padding-left:20px;
	padding-top: 5px;
}
.keluar ul li:hover {
	background-color: #F3EFEF;
}

section .content {
	width: 800px;
	height:400px;
	/*border:1px solid black;*/
	margin:50px auto;

}
section .content h2 {
	margin-top:70px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}
section .content p {
	text-align: center;
}
.content .form-group {
	width: 600px;
	height: 50px;
	border:1px solid silver;
	border-radius: 3px;
	margin-top: 20px;
	margin-left: 100px;
	line-height: 50px;
	padding-left: 20px;
}
.content .form-group label {
	font-size: 15px;
	font-weight: bold;
}


.next {
	margin-top: 10px;
	float:right;
}


.copyright {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom :5px solid blue;
    height: 100px;
    box-shadow: 0 2px 4px rgba(0,0,0,.25);
}
.copyright .hak h4, .logo h4, .year h4 {
    font-size: 12px;
}


@media only screen and (max-width: 768px) {
	
.head-navbar {
	display: flex;
	height: 60px;
}
.head-navbar .name-logo {
	width: 170px;
	height: 60px;
	border:1px solid rgba(0,0,255,0.7);
}
.head-navbar .name-logo h3 {
	font-size: 26px;
	margin-left: 30px;
}

.head-navbar .user {
	width: 40px;
	height: 40px;
	margin-left: 20px;
	/*border:1px solid black;*/

}
.head-navbar .user h4 {
	color: #fff;
	line-height: 35px;
	font-size: 20px;
}

.head-navbar .logout span:hover {
	color:blue;
}
.keluar {
	position: absolute;
	/*display: block;*/
	margin-left: 450px;

}


section .content {
	width: 700px;
	height:600px;
	/*border:1px solid black;*/
	margin:50px auto;

}
section .content h2 {
	margin-top:25px;
	text-align: center;
	font-size: 25px;
}
section .content p {
	font-size: 15px;
}
.content .form-group {
	width: 600px;
	height: 50px;
	margin-top: 20px;
	margin-left: 50px;
}

}

@media only screen and (max-width:586px) {
	
.head-navbar {

	height: 60px;
}
.head-navbar .name-logo {
	width: 170px;
	height: 60px;
	border:1px solid rgba(0,0,255,0.7);
}
.head-navbar .name-logo h3 {
	font-size: 27px;
	margin-left: 30px;
}

.head-navbar .user {
	width: 40px;
	height: 40px;
}
.head-navbar .user h4 {
	line-height: 35px;
}

.keluar {
	width: 250px;
	margin-left: 260px;

}
.keluar ul {
	list-style-type: none;
	/*display: flex;*/
	/*align-items: center;*/
}

section .content {
	width: 500px;
	height:600px;
	/*border:1px solid black;*/

}
section .content h2 {
	margin-top:30px;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
}
section .content p {
	text-align: center;
}
.content .form-group {
	width: 430px;
	height: 50px;
	border-radius: 3px;
	margin-top: 20px;
	margin-left: 30px;
	padding-left: 20px;
}



.next {
	margin-top: 10px;
	float:right;
}	

.copyright {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom :5px solid blue;
    height: 100px;
    box-shadow: 0 2px 4px rgba(0,0,0,.25);
}
.copyright .hak h4, .logo h4, .year h4 {
    font-size: 12px;
}
}