* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #fafafa;
	overflow-x: hidden;
}

.head-navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 70px;
	/*border:1px solid black;*/
	/*padding-left: 50px;*/
	padding-right: 50px;
	box-shadow: 0 2px 3px rgba(0,0,0,.15);
	/*position: absolute;*/
}
.head-navbar .name-logo {
	width: 250px;
	height: 70px;
	border:2px solid rgba(0,0,255,0.7);
	display: flex;
	align-items: center;
	background-color: rgba(0,0,255,0.7);
	text-align: center;
}
.head-navbar .name-logo h3 {
	/*font-family: 'Acme', sans-serif;*/
	/*font-family: 'Righteous', cursive;*/
	font-family: 'Russo One', sans-serif;
	font-size: 30px;
	margin-top: 5px;
	color: #fff;
	text-shadow: 1px 2px 3px rgba(0,0,0,.45);
	/*position:absolute;*/
	margin-left: 50px;
}

.head-navbar .user {
	width: 50px;
	height: 50px;
	border:1px solid #1E1D1D;
	background-color: #1E1D1D;
	border-radius: 50%;
	/*line-height: 60px;*/
	text-align: center;
	cursor: pointer;
}
.head-navbar .user h4 {
	color: #fff;
	line-height: 45px;
}
.head-navbar .logout {
	/*border:1px solid #262BF3;*/
	width: 150px;
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 10px;
	padding-right: 5px;
	padding-left:5px;
	/*background-color: #262BF3;*/

}

.head-navbar .logout .bell i {
	font-size: 25px;
	cursor: pointer;
}

.head-navbar .logout .bell .counter {
	width: 20px;
	height: 20px;
	border:1px solid orange;
	background-color: orange;
	color: #fff;
	text-align: center;
	line-height: 15px;
	border-radius: 50%;
	position: absolute;
	margin-top: -30px;
	margin-left: 15px;
}
.head-navbar .logout span, i {
	color: #000;
	cursor: pointer;
}

.head-navbar .logout span:hover {
	color:blue;
}
.keluar {
	position: absolute;
	/*float: right;*/
	display: none;
	width: 250px;
	/*height: 35px;*/
	/*padding:15px;*/
	border:1px solid #fff;
	/*justify-content: space-evenly;*/
	align-items: center;
	background-color: #fff;
	box-shadow: 0 3px 4px rgba(0,0,0,.25);
	border-radius: 5px;
	/*padding-left: 30px;*/
	cursor: pointer;
	margin-left: 1050px;

}
.keluar ul {
	list-style-type: none;
	/*display: flex;*/
	/*align-items: center;*/
}
.keluar ul li {
	width: 250px;
	height: 40px;
	padding-left:20px;
	padding-top: 5px;
}
.keluar ul li:hover {
	background-color: #F3EFEF;
}


.content .img-page {
	margin-top: 30px;
	text-align: center;
}
.content .img-page img {
	width: 300px;
	height: 300px;


}

.content .title {
	text-align: center;
}

.rules h4 {
	margin-left:350px;
	margin-top: 20px;
}
.rules .rules-course {
	margin-left: 350px;
}