* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #FAFAFA ;
    overflow-x: hidden;
}
.navbars {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,121,255,1) 20%, rgba(0,142,255,1) 26%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}


.nav-logos {
    margin-left: 20px;
    font-family: 'Montserrat Alternates', sans-serif;
    margin-top: 10px;
}
.nav-logos h3 {
    font-size: 24px;
    color: aliceblue;
}
.nav-kategori {
    display: flex;
    width: 80px;
    justify-content: space-between;
    align-items: center;
    /* border:1px solid black; */
    color: aliceblue;
    font-family: sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    cursor: pointer;

}
.nav-kategori span {
    font-weight: 700;

}
.nav-kategori img {
    width: 15px;
    height: 15px;
}
.search input[type="text"] {
    width: 500px;
    height: 40px;
    padding: 10px;
    border:1px solid silver;
    border-radius: 5px;
    
}
.search .fa-search {
    position: absolute;
    margin-left:-30px;
    margin-top: 12px;
    opacity: 0.4;
}
.links-nav {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    font-family: sans-serif;
    margin-top: 15px;
    box-sizing: border-box;

}
.links-nav .links-menu { 
    list-style-type: none;
    width: 280px;
    /* border:1px solid black; */
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    align-items: center;
    font-weight: 600;

}
.links-nav .links-menu li a {
    color: aliceblue;
    font-size: 14px;
    text-decoration: none;
}

.links-nav .links-join {
    width: 150px;
    /* border:1px solid black; */
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    text-transform: uppercase;
    margin-left: 30px;
    font-size: 14px;
}
.links-nav .links-join .log-btn {
    
    width: 80px;
    height: 30px;
    border:1px solid aliceblue;
    text-align: center;
    line-height: 30px;
    background-color: transparent;
    border-radius: 3px;

}
.links-nav .links-join .log-btn:hover {
    background-color: aliceblue;
    color: black;
}
.links-nav .links-join .log-btn a {
    text-decoration: none;
    color:aliceblue;
    font-size: 12px;
}
.links-nav .links-join .log-daf a {
    text-decoration: none;
    color: aliceblue;
    font-size: 12px;
}
.links-nav .links-join .log-daf {
    width: 80px;
    height: 30px;
    line-height: 30px;
    background: orangered;
    text-align: center;
    border:1px solid orangered;
    margin-left: 5px;
    border-radius: 3px;
}
.menu-panel {
    display: none;
    margin-top: -20px;
    position: absolute;
    width: 250px;
    height: 180px;
    border:1px solid #FAFAFA;
    background-color: #FAFAFA;
    box-shadow: 0 2px 3px rgba(0,0,0,.25);
    margin-left: 210px;
    border-radius: 3px;
    z-index: 999;
}

/* .menu-panel::before{
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 12px solid #fafafa;
    position: absolute;
    top: 15px;
    left: -13px;
} */
.menu-panel ul {
    list-style-type: none;
    padding: 20px;
    line-height: 25px;
}
.menu-panel ul li a {
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-size: 13px;
}
.menu-panel .fas {
    font-size: 14px;
}
.menu-panel ul li:hover {
    width: 225px;
    background-color: #bbbbbb;
   
}

.hamburger, .hamburger-menus {
    display: none;
}
.nav-bottom {
    display: none;
}

.profile-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
.profile-box .profile-left {
    width: 300px;
    /*height: 600px;*/
    border:1px solid #fbfbfb;
    /*padding:20px;*/
    background-color: #fafafa;
    box-shadow: 0 2px 3px rgba(0,0,0,.25);

}

.profile-box .profile-left .img-profile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin:30px 40px 30px 50px;

}
.profile-box .profile-left .name {
    margin-left:50px;
    margin-bottom:40px;
}

.profile-box .profile-left .profileku, .photo, .account, .notifikasi, .logout {
    width: 300px;
    height: 40px;
    padding-left: 20px;
    /*border:1px solid black;*/
    /*line-height: 40px;*/
    cursor: pointer;
    display: flex;
    align-items: center;

}
.profile-box .profile-left .profileku i, .photo i, .account i, .notifikasi i, .logout i {
    font-size: 20px;
}
.profile-box .profile-left .profileku p, .photo p, .account p, .notifikasi p, .logout p {
    font-size: 16px;
    margin-top:15px;
}
.profile-box .profile-left .profileku:hover, .photo:hover, .account:hover, .notifikasi:hover, .logout:hover {
    background-color: #81A9F2;
}

.actived {
    background-color: #81A9F2;   
}
.profile-box .profile-right {
    width: 940px;
    /*height: 600px;*/
    padding:20px;
    border:1px solid #fbfbfb;
    background-color: #fafafa;
    box-shadow: 0 2px 3px rgba(0,0,0,.25);
}

.profile-box .profile-right .head-profile {
    text-align: center;
}
.profile-box .profile-right .head-profile h3 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}
.profile-box .profile-right button {
    width: 250px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border:1px solid red;
    background-color: red;
    color: white;
    border-radius: 5px;
    margin-top:20px;
    margin-left:70px;
}
.profile-box .profile-right .form-biodata {
    width: 900px;
    /*border:1px solid black;    */
}
.profile-box .profile-right .form-biodata .form-group {
    /*padding: 30px;*/
    margin-left:70px;
}   
.profile-box .profile-right .form-biodata .form-group label {
    font-weight: bold;
    font-size: 16px;

}
.profile-box .profile-right .form-biodata .form-group input {
    width: 750px;
    height: 50px;
    border:1px solid silver;
    padding-left: 15px;
    border-radius: 5px;
}

.list-profile2 {
    display: none;
}
.list-profile3 {
    display: none;
}
.list-profile4 {
    display: none;
}
.footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 300px;
    /*border:1px solid black;*/
    background: #535353;
    padding:40px;
}
.footer .kotak1, .kotak2, .kotak3, .kotak4 {
    /*border:1px solid white;*/
    width: 300px;
    padding:30px;
}
.footer .kotak1 ul,.kotak2 ul,.kotak3 ul,.kotak4 ul {
    list-style: none;
}
.footer .kotak1 ul li,.kotak2 ul li,.kotak3 ul li,.kotak4 ul li {
    color: #fff;
    font-size: 13px;
}
.footer .kotak1 h3,.kotak2 h3,.kotak3 h3,.kotak4 h3 {
    font-size: 22px;
    color:#fafafa;
}
.copyright {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom :5px solid blue;
    height: 70px;
}
.copyright .hak h4 {
    font-size: 12px;
}
@media only screen and (max-width: 768px) {
    .navbar {  
        align-items: center;
        padding: 10px;
        width: 100%;
    }
    
    .nav-logos {
        margin-left: 16px;
    }
    .nav-logos h3 {
        font-size: 10px;
    }
    .nav-kategori {
        margin-left: 20px;
    
    }
    .nav-kategori span {
        font-weight: 600;
    
    }
    .nav-kategori img {
        width: 15px;
        height: 15px;
    
    }
    .search {
        position: relative;
    }
    .search input[type="text"] {
        width: 350px;
        margin-left: 20px;
        
    }
    /* .search input[type="text"]:focus {
        width: 350px;
        transition: 1s ease-in-out;
        margin-left: 50px;
    } */

    .links-nav {
        display: flex;
        justify-content: space-between;
        margin-right: 20px;
        font-family: sans-serif;
    }
    .links-nav .links-menu { 
        display: none;
        
    }
       
    .links-nav .links-join {
        width: 150px;
    }
    
    /* .links-nav .links-join .log-btn:hover {
        background-color: aliceblue;
        color: black;
    } */
   
   
    .menu-panel {
        display: none;
        margin-top: -10px;
        margin-left: 105px;
        /* border-radius: 5px; */
    }
    
    .menu-panel ul {
        padding: 10px;
        line-height: 30px;
    }
 
    .menu-panel ul li:hover {
        width: 225px;
        padding-left: 10px;
    }

.profile-box {
    width: 100%;
    display: block;
    padding: 20px;
}
.profile-box .profile-left {
    width: 710px;
    display: flex;
    justify-content: space-between;
    /*border:1px solid black;*/
}

.profile-box .profile-left .img-profile img {
    width: 100px;
    height: 100px;
    margin:10px 10px 10px 10px;

}
.profile-box .profile-left .name {
    display: none;
}

.profile-box .profile-left .profileku, .photo, .account, .notifikasi, .logout {
    width: 110px;
    height: 100px;
    padding-left: 0;
    border:1px solid #BAB2B2;
    display: block;
    align-items: center;
    margin-top: 10px;
    line-height: 25px;
    text-align: center;
    padding-top: 20px;
    border-radius: 5px;
}
.profile-box .profile-left .profileku i, .photo i, .account i, .notifikasi i, .logout i {
    margin-left:10px;
    font-size: 25px;
}
.profile-box .profile-left .profileku p, .photo p, .account p, .notifikasi p, .logout p {
    font-size: 12px;
}

.profile-box .profile-right {
    width: 710px;
    padding:20px;

}

.profile-box .profile-right button {
    width: 250px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border:1px solid red;
    background-color: red;
    color: white;
    border-radius: 5px;
    margin-top:20px;
    margin-left:10px;
}
.profile-box .profile-right .form-biodata {
    width: 670px;
    /*border:1px solid black;    */
}
.profile-box .profile-right .form-biodata .form-group {
    margin-left:10px;
}   
.profile-box .profile-right .form-biodata .form-group input {
    width: 645px;
    height: 50px;
    padding-left: 15px;
    border-radius: 5px;
    }

}

@media only screen and (max-width:586px) {
    .navbar {
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,121,255,1) 20%, rgba(0,142,255,1) 26%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        width: 100%;
       
    }
    .hamburger {
        margin-left: 10px;
        display: flex;
        
    }
    .hamburger img {
        width: 20px;
        height: 20px;
    }
    
    
    .nav-logos {
        margin-left: 10px;
    }
    .nav-logos h3 {
        font-size: 18px;
    }
    .nav-kategori {
        display: none;
    
    }

    .search input[type="text"] {
        width: 350px;
        margin-right: 10px;
        
    }
    .search .fa-search {
        margin-left:-40px;
    }
    .links-nav {
        display: none;
         
    }

    .hamburger-menus {
        display: none;
    }

    .nav-bottom {
        display: flex;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 55px;
        box-shadow: 0 0 3px rgba(0,0,0,.2);
        /* overflow-x: auto; */
        box-sizing: border-box;
        z-index: 99;
        /* border:1px solid black; */
    }

    .nav-bottom .link_nav {
        /* border:1px solid black; */
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
        min-width: 50px;
        overflow: hidden;
        font-family: sans-serif;
        font-size: 13px;
        color: #444;
        text-decoration: none;
        -webkit-tap-highlight-color: transparent;
        transition: background-color 0.1s ease-in-out;
        white-space: nowrap;
        height: 55px;
    }

    .nav-bottom .link_nav:hover {
        background-color: #eee;
        
    }
    
    .nav-bottom .link_nav_actived {
        color: tomato;
    }
    .nav-bottom .link_nav .fas {
        font-size: 20px;
        margin-top: 10px;
        position: absolute;
    }
    .nav-bottom .link_nav .nav_text {
        color: #000;
        font-size: 10px;
        margin-top: 33px;
        text-transform: uppercase;
    }

    .hamburger-menus {
        width: 250px;
        height: 100%;
        padding: 20px;
        background-color: #FAFAFA;
        box-shadow: 0 2px 3px rgba(0,0,0,.25);
    }
    .hamburger-menus .menu1 ul {
        list-style-type: none;
        margin-bottom: 15px;
    }
    .hamburger-menus .menu1 ul li:nth-child(1) {
        width: 190px;
        height: 30px;
        border:1px solid silver;
        line-height: 30px;
        text-align: center;
        margin-left: 15px;
        border-radius: 3px;

    }
    .hamburger-menus .menu1 ul li:nth-child(2) {
        width: 190px;
        height: 30px;
        border:1px solid silver;
        margin-top: 10px;
        line-height: 30px;
        text-align: center;
        margin-left: 15px;
        border-radius: 3px;

    }
    .hamburger-menus .menu1 ul li:nth-child(1):hover {
        background-color: silver;
    }
    .hamburger-menus .menu1 ul li:nth-child(2):hover {
        background-color: silver;
    }
    .hamburger-menus .menu1 ul li a{
        text-decoration: none;
        color: black;
        font-size: 12px;
        
        margin-top: 15px;
        font-family: sans-serif;
        text-transform: uppercase;
    }
    .hamburger-menus .menu2 ul,.menu3 ul,.menu4 ul {
        margin-left: 15px;
        line-height: 30px;
        list-style-type: none;
        margin-bottom: 15px;

    }
    .hamburger-menus .menu2 ul li:hover, .menu3 ul li:hover, .menu4 ul li:hover {
        background-color: rgb(226, 224, 219);
    }
    .hamburger-menus .menu2 ul li a,.menu3 ul li a,.menu4 ul li a {
        text-decoration: none;
        color: black;
        font-family: sans-serif;
        font-size: 13px;
    } 

.profile-box {
    display: block;
    padding: 10px;
}
.profile-box .profile-left {
    width: 550px;
}

.profile-box .profile-left .img-profile img {
    width: 70px;
    height: 70px;

}
.profile-box .profile-left .name {
    display: none;
}

.profile-box .profile-left .profileku, .photo, .account, .notifikasi, .logout {
    width: 70px;
    height: 70px;
    padding-left: 5px;
    border:1px solid #635E5E;
    line-height: 30px;
    border-radius: 50%;
    color: #EEEAEA;
    background-color: #635E5E;
    text-align: center;

}
.profile-box .profile-left .profileku i, .photo i, .account i, .notifikasi i, .logout i {
    font-size: 28px;
}
.profile-box .profile-left .profileku p, .photo p, .account p, .notifikasi p, .logout p {
    display: none;
}
.profile-box .profile-left .profileku:hover, .photo:hover, .account:hover, .notifikasi:hover, .logout:hover {
    background-color: #81A9F2;
    border:1px solid #81A9F2;
}


.profile-box .profile-right {
    width: 550px;
}

.profile-box .profile-right .head-profile h3 {
    font-size: 15px;
}
.profile-box .profile-right button {
    width: 250px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border:1px solid red;
    background-color: red;
    color: white;
    border-radius: 5px;
    margin-top:20px;
    margin-left:10px;
}
.profile-box .profile-right .form-biodata {
    width: 510px;
}
.profile-box .profile-right .form-biodata .form-group {
    margin-left:10px;
}   
.profile-box .profile-right .form-biodata .form-group label {
    font-size: 14px;

}
.profile-box .profile-right .form-biodata .form-group input {
    width: 490px;
    height: 45px;
    border:1px solid silver;
    padding-left: 15px;
    border-radius: 5px;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    height: 350px;
    /*border:1px solid black;*/
    padding:20px 10px 30px 10px;
}
.footer .kotak1, .kotak2, .kotak3, .kotak4 {
    /*border:1px solid white;*/
    width: 250px;
    height: 150px;
    padding:10px;
}

.footer .kotak1 ul li,.kotak2 ul li,.kotak3 ul li,.kotak4 ul li {
    color: #fff;
    font-size: 13px;
}
.footer .kotak1 h3,.kotak2 h3,.kotak3 h3,.kotak4 h3 {
    font-size: 20px;
    color:#fafafa;
}
.copyright {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom :5px solid blue;
    height: 50px;
    margin-bottom:60px;
}
.copyright .hak h4, .logo h4, .year h4 {
    font-size: 12px;
}

}